*.iml
.gradle/
/local.properties
build/
/build
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.externalNativeBuild/
.cxx/
.DS_Store
/captures
local.properties
captures/
*.log
*.aab
*.apk
output-metadata.json
*.jks
*.keystore
google-services.json
*.hprof
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
